/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}



:root{
    --bg-hero-footer: #1F2937;

    --hero-main-text-size : 48px;
    --hero-main-text-color : #F9FAF8;
    --hero-main-text-weight: 900;

    --hero-secondary-text-size: 18px;
    --hero-secondary-text-color : #E5E7EB;

    --logo-text-size : 24px;
    --logo-text-color : #F9FAF8;

    --btn-bg-color : #3882F6;

    --info-header-text-size : 36px;
    --info-header-text-color : #1F2937;
    --info-header-text-weight : 900;


    --quote-section-bg-color : #E5E7EB;

    --quote-section-text-size : 36px;
    --quote-section-text-color : #1F2937;
    --quote-section-text-font-style-italic : italic;



}

html {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem; 
}

/* HEADER */
.Hero-header{
    background-color: var(--bg-hero-footer);
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}
.header-logo{
    font-size: var(--logo-text-size);
    color: var(--logo-text-color);
    font-weight: 900;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.navbar > a {
    color: var(--logo-text-color);
}
.navbar > a:hover {
    color: red;
}